# Introduction to the seaborn Flights Dataset

The Flights dataset comprises three distinct columns:

- *year*: Represents the year in which the count of passengers was taken.
- *month*: Points towards the month in which the passenger count was gathered.
- *passengers*: Indicates the number of passengers that traveled in that month of a particular year.

In [3]:
import seaborn as sns

# Load the Flights dataset
flights_df = sns.load_dataset('flights')

# Display the first five records
print(flights_df.head())
"""
   year month  passengers
0  1949   Jan         112
1  1949   Feb         118
2  1949   Mar         132
3  1949   Apr         129
4  1949   May         121
"""

# Display the first 10 records
print(flights_df.head(10))

# Display the last five records
print(flights_df.tail())

   year month  passengers
0  1949   Jan         112
1  1949   Feb         118
2  1949   Mar         132
3  1949   Apr         129
4  1949   May         121
   year month  passengers
0  1949   Jan         112
1  1949   Feb         118
2  1949   Mar         132
3  1949   Apr         129
4  1949   May         121
5  1949   Jun         135
6  1949   Jul         148
7  1949   Aug         148
8  1949   Sep         136
9  1949   Oct         119
     year month  passengers
139  1960   Aug         606
140  1960   Sep         508
141  1960   Oct         461
142  1960   Nov         390
143  1960   Dec         432

# Facets of the Dataset
Our DataFrame flights_df has a specific shape, i.e., it contains a certain number of rows and columns. You can retrieve this shape using the shape attribute. This attribute returns a tuple representing the dimensionality of the DataFrame. It is used to get the current shape of DataFrame, i.e., (number of rows and columns).

Additionally, you can use the info() method to get a quick description of the data, including the total number of non-null entries and the column data types.

In [4]:
# Get the dimensions of the dataset
print('Shape of the dataset:', flights_df.shape)
# Output: Shape of the dataset: (144, 3)

# Get more information about the dataset
flights_df.info()
"""
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 144 entries, 0 to 143
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype   
---  ------      --------------  -----   
 0   year        144 non-null    int64   
 1   month       144 non-null    category
 2   passengers  144 non-null    int64   
dtypes: category(1), int64(2)
memory usage: 2.9 KB
"""

Shape of the dataset: (144, 3)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 144 entries, 0 to 143
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   year        144 non-null    int64
 1   month       144 non-null    category
 2   passengers  144 non-null    int64
dtypes: category(1), int64(2)
memory usage: 2.9 KB

"\n<class 'pandas.core.frame.DataFrame'>\nRangeIndex: 144 entries, 0 to 143\nData columns (total 3 columns):\n #   Column      Non-Null Count  Dtype   \n---  ------      --------------  -----   \n 0   year        144 non-null    int64   \n 1   month       144 non-null    category\n 2   passengers  144 non-null    int64   \ndtypes: category(1), int64(2)\nmemory usage: 2.9 KB\n"